# Target Configuration
LANDING_PAGE_URL="https://example.com"
TARGET_KEYWORD="loket.com"

# Execution Configuration
BROWSER_CONCURRENCY=10
USE_PROXY=true
PROXIES="http://user:pass@ip:port,http://user:pass@ip:port"

# User Data Profile
USER_NIK="1234567890123456"
USER_FULLNAME="John Doe"
USER_EMAIL="user@example.com"
USER_PHONE="08123456789"
USER_DOB="19-07-2003"
USER_GENDER="Male" # or "Female"

# Telegram Bot Integration
TELEGRAM_BOT_TOKEN="YOUR_BOT_TOKEN_HERE"
TELEGRAM_CHAT_ID="YOUR_CHAT_ID_HERE"

# Logic tuning
POLLING_INTERVAL=3000
QUEUE_TIMEOUT=600000

# Ticket Selection Configuration
TICKET_CATEGORY="CAT 1"
TICKET_QUANTITY=1

# Payment Configuration
PAYMENT_METHOD="Virtual Account BCA"
